@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@300;400;500;700;900&display=swap');

/* shared stylesssss */
* {
  font-family: 'Merriweather', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

.btn-primery {
  width: 180px;
  height: 64px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  background: rgb(255, 144, 14);
  border: none;
  cursor: pointer;
  margin: 30px 0;
}

.section-title {
  font-weight: 700;
  font-size: 2.8em;
  color: rgb(19, 19, 19);
}

.text-light-gray {
  font-weight: 400;
  font-size: 1rem;
  color: rgb(114, 114, 114);
}


/* header starting */

header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 100px;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav>ul {
  display: flex;
}

nav>ul>li {
  list-style: none;
  margin-right: 20px;
}


li>a {
  text-decoration: none;
  color: rgb(66, 66, 66);
  font-weight: 500;
  font-size: 1.1rem;
}

/* banner styles !!1!*/
.banner-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.banner-title {
  color: rgb(19, 19, 19);
  font-weight: 700;
  font-size: 4rem;
}

.banner-text {
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
}

.banner>img {
  width: 100%;
}

/* header end */

/* main start */

main {
  /* padding: 50px 240px; */
  max-width: 1440px;
  margin: 0 auto;
}

.quick-list-container {
  display: flex;
  align-items: center;
  padding: 40px 60px;
}

.quick-img {
  /* flex: 1 1 70%; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

/* .quick-img > img{
  width: 100%;
} */

.quick-content {
  /* flex: 1 1 30%;
  max-width: 400px;
  max-height: 357px; */
  padding-left: 60px;
}


.quick-title {
  font-size: 2.8rem;
  margin-top: 0;
}

.quick-t-1 {
  font-weight: 500;
  color: rgb(114, 114, 114);
}

.quick-t-2 {
  font-weight: 700;
  color: rgb(19, 19, 19);
}

.quick-t-3 {
  font-weight: 700;
  color: rgb(255, 144, 14);
}

/* .quick-content> button{
  margin-bottom: 0;
} */

/* features section */
.features-container {
  display: flex;
  gap: 100px;
  padding: 30px 50px;
  align-items: center;
}

.features-content {
  flex: 1 1 45%;
}

.features-content>h3 {
  padding-left: 20px;
  border-left: 5px solid rgb(255, 144, 14);
}

.features-content>.f-cards {
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  padding: 30px;
  margin-bottom: 20px;
}

.f-cards>h3 {
  margin-top: 0;
}

.features-imgs>img {
  width: 100%;
  margin-left: 50px;
}

.experience-div {
  border-radius: 8px;
  background: rgb(255, 144, 14);
  width: 260px;
  height: 110px;
  padding: 45px 42px;
  text-align: center;
  position: relative;
  bottom: 130px;
}

.experience-div>h2 {
  font-weight: 700;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  margin: 0;
}

.experience-div>p {
  font-weight: 500;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  margin: 0;
}



/*facts section*/
.some-facts {
  padding: 50px;
}

.facts-card-container {
  display: flex;
  justify-content: space-around;
}

.facts-card-container .card {
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  text-align: center;
  padding: 35px 30px;
}

.facts-card-container .card-img {
  margin: 0px;
}

.facts-card-container .card-stats {
  font-weight: 600;
  font-size: 2.8rem;
  color: rgb(66, 66, 66);
  margin: 10px 0px;
}

.facts-card-container .card-title {
  font-weight: 600;
  font-size: 1.25rem;
  color: rgb(114, 114, 114);
  margin: 0px;
}

/* sponsors section */
.sponsor-container {
  text-align: center;
  padding: 40px;
}

/* .sponsor-text{
  max-width: 540px;
  text-align: center;
  margin-bottom: 50px;
} */



.sponsors-img-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.sponsors-img-container>img {
  width: 160px;
}

/* copyright section */
.copyright-container {
  border-radius: 8px;
  background: rgb(255, 244, 231);
  height: 100px;
  width: 70vw;
  margin: 160px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}






/* responsive media query mini screen*/
@media screen and (max-width: 576px) {

  header,
  main .quick-content,
  .some-facts {
    padding: 20px;
  }

  nav,
  .quick-list-container,
  .features-container,
  .facts-card-container,
  .sponsors-img-container {
    flex-direction: column;
  }

  .quick-img {
    grid-template-columns: 1fr;
  }

  .features-imgs>img {
    margin: 0;
  }

  .experience-div {
    max-width: 260px;
    padding: 20px 0;
  }

  .facts-card-container {
    gap: 20px;
  }
}

/* responsive media query medium screen*/
@media screen and (min-width: 576px) and (max-width: 992px) {

  header,
  main,
  .quick-content {
    padding: 50px;
  }

  nav,
  .quick-list-container,
  .features-container,
  .sponsors-img-container {
    flex-direction: column;
  }


}